@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    font-family: 'poppins','YouYuan',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}
p{
    font-size: 120%;
}
h1{
    font-size: 300%;
}
.name{
    position: fixed;
    top: 3px;
    left: 3px;
    right:3px;
    background-color: #45f3ff;
    border-radius: 5px;
    font-size: 20px;
    min-width: 99.4%;
    max-width: 99.4%;
}
.name p{
    color: #23242a;
}
p,h2,h3,h1{
    color: #45f3ff;
}
.money{
    position: absolute;
    top:10%;
    left:20%;
}
.net{
    position: absolute;
    top: 30%;
    left:20%;
}
.price{
    position: absolute;
    top: 50%;
    left:20%;
}
.link{
    position: absolute;
    top: 70%;
    left:20%;
}